<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/css/uikit.min.css" />
		
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Health Book</title>
		<script src="https://code.jquery.com/jquery.js"></script>


		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.5/js/uikit-icons.min.js"></script>
		{{!-- <script src="/assets/js/cats.js"></script> --}}

	</head>
	<div class="spacer" id="history"></div>
	<body>
		{{{ body }}}
	</body>
</html>
